&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<main>
  <section class="section m-4 p-4">
    <div class="container">

      <div id="about" class="section wb">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="message-box">
                <h2>About Ceren.</h2>
                <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus
                  bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis
                  parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum
                  aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo. </p>

                <a href="https://github.com/CerenSusuz" class="sim-btn btn-hover-new" data-text="GO"><i class="fab fa-github p-2"></i><span>Github</span></a>
                <a href="https://www.linkedin.com/in/ceren-susuz-2a70841b3/" class="sim-btn btn-hover-new" data-text="GO"><i class="fab fa-linkedin p-2"></i><span>Linkedin</span></a>
                <a href="https://www.instagram.com/cerensusuzz/" class="sim-btn btn-hover-new" data-text="GO"><i class="fab fa-instagram p-2"></i><span>Instagram</span></a>
                <a href="https://twitter.com/cerennssz" class="sim-btn btn-hover-new" data-text="GO"><i class="fab fa-twitter p-2"></i><span>Twitter</span></a>
              </div>
            </div>

            <div class="col-md-6">
              <div class="right-box-pro wow fadeIn">
                <img src="./assets/img/cerensusuz.jpg" alt="cerensusuz" class="img-fluid img-rounded">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>