<main>
  <div class="row m-4">

    <div class="col-md-7">
      <div class="message-box">
        <h2>About Ceren.</h2>
        <p> Hi, I'm Ceren Susuz.
          I was born in Keçiören/ANKARA on March 20, 1997.
          I started my education at Hacı Mustafa Tarman Primary School.
          I was always a quiet, calm and hard-working student.
          After my successful primary school life, my high school life started at Meltem College and I continued my
          success there.
          I've never been able to make a decision in this period when I've finished myself thinking about "what I'm
          going to be".
          And I listened to my parents, and I ended up in Computer Engineering.
          I was very impressed when I first met the software with the C programming language and decided that I wanted to move forward in this field.
          But I didn't want to continue in this department, where the hardware part was dominant, and I left my school
          to develop myself in the field of software.
          Anadolu University "Web Design and Coding" department, which is new on the agenda,
          attracted my interest and I registered.
          During this process, I participated in many seminars and took courses in which I will improve myself.
          <br>
          <br>
          <b> You can access my certificates and projects on the <a routerLink="/homepage"><i> homepage </i></a></b>
          <br>
          <!-- <b> To get to know me better, you can contact me in the <a routerLink="/contact"><i> contact </i></a> section.
          </b> -->
          <br>
          <b> You can download the file for my cv. <a href="./assets/files/CV.pdf" download><i> CV-CerenSusuz
              </i></a></b>
        </p>
        <p><i class="fas fa-arrow-down"></i><i class="fas fa-arrow-down"></i><i class="fas fa-arrow-down"></i><i
            class="fas fa-arrow-down"></i> Follow Me <i class="fas fa-arrow-down"></i><i
            class="fas fa-arrow-down"></i><i class="fas fa-arrow-down"></i><i class="fas fa-arrow-down"></i></p>
        <a href="https://github.com/CerenSusuz" class="sim-btn btn-hover-new" data-text="GO"><i
            class="fab fa-github p-2"></i><span>Github</span></a>
        <a href="https://www.linkedin.com/in/ceren-susuz-2a70841b3/" class="sim-btn btn-hover-new" data-text="GO"><i
            class="fab fa-linkedin p-2"></i><span>Linkedin</span></a>
        <a href="https://www.instagram.com/cerensusuzz/" class="sim-btn btn-hover-new" data-text="GO"><i
            class="fab fa-instagram p-2"></i><span>Instagram</span></a>
        <a href="https://twitter.com/cerennssz" class="sim-btn btn-hover-new" data-text="GO"><i
            class="fab fa-twitter p-2"></i><span>Twitter</span></a>
        <a href="https://www.hackerrank.com/CerenSSZ" class="sim-btn btn-hover-new" data-text="GO"><i
            class="fab fa-hackerrank p-2"></i><span>Hackerrank</span></a>
        <a href="https://stackoverflow.com/users/14813378/cerensusuz" class="sim-btn btn-hover-new" data-text="GO"><i
            class="fab fa-stack-overflow p-2"></i><span>Stack Overflow</span></a>
      </div>
    </div>

    <div class="col-md-3">
      <img src="./assets/img/ceren.jpg" alt="cerensusuz" height="480px">
    </div>

  </div>

  <div class="row">

    <!-- SKILLS -->
    <div class="skill-mf col-4 m-4">
      <p class="title-s ">My Skill</p>

      <span>C#</span> <span class="float-end">95%</span>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <span>Net Core</span> <span class="float-end">95%</span>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <span>JAVA</span> <span class="float-end">60%</span>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <span>ANGULAR</span> <span class="float-end">70%</span>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <span>HTML5</span> <span class="float-end">70%</span>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <span>CSS3</span> <span class="float-end">60%</span>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <span>ANGULAR</span> <span class="float-end">50%</span>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
      <span>PYTHON</span> <span class="float-end">50%</span>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
          aria-valuemax="100"></div>
      </div>
    </div>

    <!-- Services -->
    <div class="col-6 m-4 ">

      <p class="title-s">My Services</p>

      <div class="service-box">
        <i class="fas fa-desktop"></i>
        <div class="service-content">
          <h2 class="s-title">Web Design with ANGULAR</h2>
        </div>
      </div>


      <div class="service-box">
        <i class="fas fa-laptop-code"></i>
        <div class="service-content">
          <h2 class="s-title">Backend Development with C# - JAVA</h2>
        </div>
      </div>


      <div class="service-box">
        <i class="fas fa-photo-video"></i>
        <div class="service-content">
          <h2 class="s-title">Photography</h2>
        </div>
      </div>


      <div class="service-box">
        <i class="fab fa-bootstrap"></i>
        <div class="service-content">
          <h2 class="s-title">Responsive Design with HTML/CSS/BOOTSTRAP</h2>
        </div>
      </div>


    </div>

  </div>

</main>