<footer class="mt-5">
    <div class="copyrights">
            <div class="footer-distributed">
                <div class="footer-left">
                    <p class="footer-links">
                        <a routerLink="homepage">Home</a>
                        <a routerLink="aboutMe">About</a>
                        <a routerLink="contact">Contact</a>
                    </p>
                    <small>
                        Copyright &copy;
                        {{year | date: 'yyyy'}}
                        All rights reserved | This template is made with <i class="far fa-heart" aria-hidden="true"></i> by 
                        <a href="https://www.linkedin.com/in/ceren-s-2a70841b3/" target="_blank">Ceren SUSUZ</a>  with  
                        <a href="https://www.creative-tim.com?ref=adsa-footer" target="_blank">Creative Tim</a> and
                        <a href="https://html.design/">html design</a>
                    </small>
                </div>
            </div>
    </div>

</footer>