footer {
    margin: 8px;
    padding: 8px;
    line-height: 40px;
    border-radius: 20px;
    font-weight: 700;
    color: rgb(107, 112, 112);
  }

  a {
    text-decoration: none;
    color: rgb(203, 224, 224) ;
  }