<div class="container ">
    <div *ngIf="blog">

        <div id="carouselExampleIndicators" class="carousel slidept-3" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let image of images; let i = index" [ngClass]="getSliderClassName(i)">
                    <img src="{{ imageUrl }}/{{ image.imagePath }}" class="d-block w-100" width="100" height="450"
                        alt="blogImage" />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <article class="blog-post">
            <h2 class="blog-post-title">{{blog.title}}</h2>
            <hr>
            <blockquote>
                <p><strong>{{blog.description}}</strong></p>
            </blockquote>
            <p style="font-size: 18px;">{{blog.content}}</p>
            <hr>
            <p class="blog-post-meta float-end">published at {{blog.publishedDate | date:'dd-MM-yyyy'}} by <a
                    href="https://www.linkedin.com/in/ceren-susuz-2a70841b3/"><i class="fab fa-linkedin ps-2"></i> Ceren
                    Susuz</a></p>

        </article>

    </div>

    <div *ngIf="comments" class="section-title mt-5 pt-5">
        <p>Comments</p>
        <hr>
    </div>
    <div *ngIf="comments">
        <div *ngFor="let comment of comments" class="col-6">
            <div class="post-info">
                <p class="pt-4" style="font-style: italic;">{{comment.content}}</p>
                <span class="float-end" style="color: darkblue;">written by {{comment.user}} at {{comment.writtenDate | date:'dd-MM-yyyy'}}</span>
            
            </div>
            <button (click)="delete(comment)" class="btn btn-danger float-end"><i class="fas fa-trash-alt"></i></button>
            <button routerLink="/comment/update/{{comment.id}}" class="btn btn-warning float-end" data-bs-toggle="modal" data-bs-target="#exampleUpdateModal"><i class="fas fa-trash-alt"></i></button>

        </div>
    </div>

  <app-comment-update></app-comment-update>

    <div class=" mt-2 pt-2">
            <form [formGroup]="commentAddForm">

                <div class="col-6">
                    <label for="content">your comment:</label>
                    <div class="form-group">
                        <input type="text" id="content" class="form-control" formControlName="content" />
                    </div>
                </div>

            </form>

        <div class="card-footer">
            <button class="btn btn-fill btn-success" (click)="add()">ADD</button>
        </div>

    </div>

</div>