<div class="container mt-5 pt-5">
    <div *ngIf="blog">

        <div id="carouselExampleIndicators" class="carousel slide mt-5 pt-3" data-bs-ride="carousel">
            <div class="carousel-inner mt-5">
                <div *ngFor="let image of images; let i = index" [ngClass]="getSliderClassName(i)">
                    <img src="{{ imageUrl }}/{{ image.imagePath }}" class="d-block w-100" width="200" height="400"
                        alt="blogImage" />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <article class="blog-post">
            <h2 class="blog-post-title">{{blog.title}}</h2>
            <hr>
            <blockquote>
                <p><strong>{{blog.description}}</strong></p>
            </blockquote>
            <p style="font-size: 18px;">{{blog.content}}</p>
            <hr>
            <p class="blog-post-meta float-end">created at {{blog.publishedDate | date:'dd-MM-yyyy'}} by <a href="#">Ceren</a></p>
            
        </article>

    </div>
</div>