<div *ngIf="editProfileForm.valid" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button (click)="exit()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">Are you sure you want to delete your account?</div>
      <div class="modal-footer">
        <button (click)="deleteAccount()" type="button" class="btn btn-success">YES</button>
      </div>
    </div>
  </div>
</div>
 
 <div class="col-md-8 mt-5">
      <div class="card">
        <div class="card-header"><h5 class="card-title" style="color: darkblue; font-size: 24px;">Hello, {{getName()}}</h5></div>
        <div class="card-body">
  
          <form [formGroup]="editProfileForm" >

            <div class="mb-3 row">
              <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
              <div class="col-sm-8">
                <input type="text " id="firstName" formControlName="firstName" class="form-control"
                       placeholder="Adınız"/>
              </div>
            </div>
  
            <div class="mb-3 row">
              <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
              <div class="col-sm-8">
                <input type="text" id="lastName" formControlName="lastName"   class="form-control"
                       placeholder="Soyadınız"/>
              </div>
            </div>
  
            <div class="mb-3 row">
              <label for="email" class="col-sm-2 col-form-label">E-Mail</label>
              <div class="col-sm-8">
                <input type="text" id="email" formControlName="email" class="form-control"
                       placeholder="E-Posta Adresiniz"/>
              </div>
            </div>
  
          </form>
        </div>
  
        <div class="card-footer">
          <button (click)="checkForm()" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">DELETE ACCOUNT</button>
          <button class="btn btn-lg btn-outline-success float-end" (click)="editProfile()" >EDIT INFO</button>
        </div>
  
      </div>
    </div>
