<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/computer1_77902.png" alt="logo" width="30" height="24">
      &nbsp; Ceren SUSUZ
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Blogs</a>
        </li>

        <li class="nav-item dropdown ms-4 ps-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            USER
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"><button class="btn btn-info">Edit Your Info</button></a></li>
            <li><a class="dropdown-item"><button class="btn btn-danger">Log Out</button></a></li>
          </ul>
        </li>
      </ul>


      <form class="d-flex">
        <div class="d-flex btn-group ps-4" role="group" aria-label="Basic radio toggle button group">

          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
          <label class="btn btn-outline-warning" for="btnradio1">Log In</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn btn-outline-success" for="btnradio2">Sign Up</label>

        </div>
      </form>


      <div class="community-area ms-4 ps-4" id="social-media">
        <a href="https://www.linkedin.com/in/ceren-susuz-2a70841b3/"><i class="fab fa-linkedin ps-2"></i></a>
        <a href="https://github.com/CerenSusuz"><i class="fab fa-github ps-2"></i></a>
        <a href="https://twitter.com/cerennssz"><i class="fab fa-twitter ps-2"></i></a>
        <a href="https://www.instagram.com/cerensusuzz/"><i class="fab fa-instagram ps-2"></i></a>
      </div>

    </div>

  </div>

</nav>