<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger">
      <img routerLink="homepage" class="img-fluid" src="assets/img/logo.png" alt="logo" width="80px" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ms-5 ps-5" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <img class="img-fluid" src="assets/img/computer.png" alt="logo" width="40px" />
        <li class="nav-item"> 
          <a class="nav-link active" aria-current="page" routerLink="homepage">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="aboutMe">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="contact">Contact Me</a>
        </li>

        <div *ngIf="isLogOK() && getUser()">
          <ul class="navbar-nav me-auto ms-5 mb-lg-0 ">
          <li class="nav-item dropdown">
            <a style="color: darkblue; font-family: 'Courier New', Courier, monospace;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{getUser()}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" aria-current="page">Operations</a>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item"><button class="btn btn-outline-warning" routerLink="/user/edit/">Edit Info</button></a></li>
              <li><a class="dropdown-item"><button class="btn btn-outline-danger" (click)="logout()">Log Out</button></a></li>
            </ul>
          </li>
            <a class="nav-link" aria-current="page" routerLink="admin"><button class="btn btn-warning">Admin</button></a>
        </ul>

        </div>


      </ul>

      <div *ngIf="!isLogOK()">
        <form class="d-flex ms-4">
          <div class="d-flex btn-group" role="group" aria-label="Basic radio toggle button group">
  
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
            <label class="btn btn-outline-warning" routerLink="login" for="btnradio1">Log In</label>
  
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-success" routerLink="signUp" for="btnradio2">Sign Up</label>

          </div>
        </form>
      </div>


        <div class="community-area" id="social-media">
          <a href="https://www.linkedin.com/in/ceren-susuz-2a70841b3/"><i class="fab fa-linkedin ps-2"></i></a>
          <a href="https://github.com/CerenSusuz"><i class="fab fa-github ps-2"></i></a>
          <a href="https://twitter.com/cerennssz"><i class="fab fa-twitter ps-2"></i></a>
          <a href="https://www.instagram.com/cerensusuzz/"><i class="fab fa-instagram ps-2"></i></a>
        </div>
  
    </div>

  </div>
</nav>