  <!-- Blogs -->

  <div id="blog" class="section lb">
    <div class="container">
      <div class="section-title text-left">
        <h3>Blogs</h3>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="post-box">
            <div class="post-thumb">
              <img src="assets/img/logo.png" class="img-fluid" alt="post-img" />
              <div class="date">
                <span>06</span>
                <span>Aug</span>
              </div>
            </div>
            <div class="post-info">
              <h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
              <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam.
                Integer ultricies et magna quis.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="post-box">
            <div class="post-thumb">
              <img src="assets/img/logo.png" class="img-fluid" alt="post-img" />
              <div class="date">
                <span>06</span>
                <span>Aug</span>
              </div>
            </div>
            <div class="post-info">
              <h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
              <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam.
                Integer ultricies et magna quis.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="post-box">
            <div class="post-thumb">
              <img src="assets/img/logo.png" class="img-fluid" alt="post-img" />
              <div class="date">
                <span>06</span>
                <span> Aug</span>
              </div>
            </div>
            <div class="post-info">
              <h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
              <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam.
                Integer ultricies et magna quis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>