  <!-- Blogs -->

  <div id="blog" class="section lb">
    <div class="container">
      <div class="section-title text-left">
        <h3>Blogs</h3>
      </div>

      <div *ngIf="blogs" class="row ms-3">
        <div *ngFor="let blog of blogs" class="col-md-3 col-sm-6 col-lg-4">
          <div class="post-box">
            <div class="post-thumb">
              <img src="assets/img/logo.png" class="img-fluid" alt="post-img" />
              <div class="date">
                <span>{{ blog.publishedDate | date:'dd-MM-yyyy'}}</span>
              </div>
            </div>
            <div class="post-info">
              <h4>{{blog.title}}</h4>
              <p>{{blog.description}}</p>
              <span>{{blog.subjectId}}</span>
            </div>
          </div>
          <button type="button" class="btn btn-warning float-end" routerLink = "/blogs/details/{{blog.id}}">Show Detail</button>
        </div>
      </div>
    </div>
  </div>