  <!-- Certificates -->

  <div id="certificate" class="section lb">
    <div class="container">
      <div class="section-title text-left">
        <h3>Certificates</h3>
      </div>

      <div class="gallery-list row">

        <div class="col-md-4 col-sm-10 gallery-grid gal_a gal_b">
          <div class="gallery-single fix">
            <img src="assets/img/computer.png" class="img-fluid" alt="Image">
          </div>
        </div>

        <div class="col-md-4 col-sm-10 gallery-grid gal_c gal_b">
          <div class="gallery-single fix">
            <img src="assets/img/computer.png" class="img-fluid" alt="Image">
          </div>
        </div>

        <div class="col-md-4 col-sm-10 gallery-grid gal_a gal_c">
          <div class="gallery-single fix">
            <img src="assets/img/computer.png" class="img-fluid" alt="Image">
          </div>
        </div>

      </div>
    </div>
  </div>