<section class="main-banner parallaxie" style="background: url('assets/img/logo.png')">
    <div class="heading">
      <div class="jumbotron text-center">
        &nbsp;
        <h1>Ceren Susuz</h1>
        <h3 class="cd-headline clip is-full-width">
          <span
            style="color:white;font-size: 36px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 300;">
            Software Developer
          </span>
        </h3>
        <img class="rounded-circle shadow shadow-lg--hover" style="width: 200px; border-color: darkgreen;"
          src="assets/img/cerensusuz.jpg" alt="cerensusuz">
        <hr  style="color: rgb(247, 255, 247);">
        <button style="color: rgb(255, 251, 246);" type="button" routerLink="/aboutMe"
          class="m-2 btn btn-danger">Who am I?</button>
        <!-- <button style="color: rgb(255, 251, 246);" type="button" routerLink="/contact"
          class="m-2 btn btn-info">Contact</button> -->
      </div>
    </div>
  </section>

  <app-projects></app-projects>

  <app-blogs></app-blogs>

  <app-certificate></app-certificate>
