&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<main class="m-4 p-4">

  <section class="main-banner parallaxie" style="background: url('assets/img/logo.png')">
    <div class="heading">
      <div class="jumbotron m-5 p-5 text-center " style="border-radius: 20px;">
        &nbsp;
        <h1 class="m-4 p-4">hello i'm Ceren</h1>
        <h3 class="cd-headline clip is-full-width">
          <span
            style="font-size: 36px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 300;">
            Software Developer
          </span>
        </h3>
        <img class="rounded-circle shadow shadow-lg--hover" style="width: 200px; border-color: darkgreen;"
          src="assets/img/cerensusuz.jpg" alt="cerensusuz">
        <hr class="m-2" style="color: rgb(247, 255, 247);">
        <button style="color: rgb(255, 251, 246);" type="button" routerLink="aboutMe"
          class="m-2 btn btn-outline-danger">Who am I?</button>
        <button style="color: rgb(255, 251, 246);" type="button" routerLink="contact"
          class="m-2 btn btn-outline-info">Contact</button>
      </div>
    </div>
  </section>

  <!-- Projects -->

  <div id="services" class="section lb">
    <div class="container">
      <div class="section-title text-left">
        <h3>Projects</h3>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="services-inner-box">
            <div class="ser-icon">
              <i class="fas fa-file-code"></i>
            </div>
            <h2>Web Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="services-inner-box">
            <div class="ser-icon">
              <i class="fas fa-file-code"></i>
            </div>
            <h2>Web Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="services-inner-box">
            <div class="ser-icon">
              <i class="fas fa-file-code"></i>
            </div>
            <h2>Web Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Blogs -->

  <div id="blog" class="section lb">
    <div class="container">
      <div class="section-title text-left">
        <h3>Blogs</h3>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="post-box">
            <div class="post-thumb">
              <img src="assets/img/logo.png" class="img-fluid" alt="post-img" />
              <div class="date">
                <span>06</span>
                <span>Aug</span>
              </div>
            </div>
            <div class="post-info">
              <h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
              <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam.
                Integer ultricies et magna quis.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="post-box">
            <div class="post-thumb">
              <img src="assets/img/logo.png" class="img-fluid" alt="post-img" />
              <div class="date">
                <span>06</span>
                <span>Aug</span>
              </div>
            </div>
            <div class="post-info">
              <h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
              <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam.
                Integer ultricies et magna quis.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="post-box">
            <div class="post-thumb">
              <img src="assets/img/logo.png" class="img-fluid" alt="post-img" />
              <div class="date">
                <span>06</span>
                <span> Aug</span>
              </div>
            </div>
            <div class="post-info">
              <h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
              <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at eget quam.
                Integer ultricies et magna quis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</main>