 <!-- Projects -->
 <div id="project" class="section lb">
    <div class="container">
      <div class="section-title text-center">
        <h3>Projects</h3>
        <hr>
      </div>
      <div *ngIf="projects">
        <div *ngFor="let project of projects" class="mt-5">
          <div class="services-inner-box text-center">
            <div class="ser-icon">
              <i class="fas fa-file-code"></i>
            </div>
            <h3 class="mt-3"><b>{{ project.title }}</b></h3>
            <hr>
            <p>Description: {{ project.description }}</p>
            <hr>
            Content:
            <a href="">{{ project.content }}</a>
            <hr>
            Link:
            <a href="">{{ project.link }}</a>
          </div>
        </div>
      </div>


    </div>
  </div>