<button style="color: rgb(56, 8, 168); margin-left: 4px;" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#examplePasswordModal">
  Get new password
</button>

<!-- Modal -->
<div class="modal fade" id="examplePasswordModal" tabindex="-1" aria-labelledby="examplePasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="examplePasswordModalLabel">Reset Password</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form [formGroup]="passwordUpdateForm">
              <div class="mb-3">
                  <label for="oldPasword" class="form-label">Enter your old password</label>
                  <input formControlName="oldPassword" type="password" class="form-control" id="oldPasword" placeholder="">
              </div>
              <div class="mb-3">
                  <label for="newPassword" class="form-label">Enter your new password</label>
                  <input formControlName="newPassword" type="password" class="form-control" id="newPassword" placeholder="">
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button (click)="changePassword()" type="button" class="btn btn-primary mybtn" data-bs-dismiss="modal">Reset</button>
      </div>
    </div>
  </div>
</div>