<div class="m-5 p-5">
    <button type="button" class="btn btn-close float-end" routerLink="homepage"></button>
    <div class="form-container sign-in-container ">
        <form [formGroup]="loginForm">

            <h1>Log In</h1>
            <!-- <div class="social-container">
                <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span> -->
            <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <!-- <a href="#">Forgot your password?</a> -->
            <button (click)="login()" class="mt-3" type="submit">Log In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with me</p>
                <button class="ghost" id="signUp" routerLink="/register">Sign Up</button>
            </div>
        </div>
    </div>
</div>




    
    