* {
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cursorPointer{
    cursor: pointer;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    color: #333333;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    opacity: .8
}

a {
    color: #89a7ce;
    text-decoration: none;
    outline: none;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


ul, li, ol{
	margin: 0px;
	list-style: none;
	padding: 0px;
}


/*------------------------------------------------------------------
    HEADER
-------------------------------------------------------------------*/
nav{
    line-height: 2;
    opacity: 0.8;
    background-color: white;
}

.navbar-light .navbar-nav .nav-link{
	color: #1b1a1a;
	letter-spacing: 1px;
}



/*------------------------------------------------------------------
    SECTIONS
-------------------------------------------------------------------*/
.main-heading
{
	background-size:cover;
	background-attachment: fixed;
	color: #cfcfcf;
        margin-top:80px;
}



.overlay > .container
{
    padding:170px 0px;    
}

.main-heading >.overlay
{
    height: 750px;
}
p.lead
{
   position:relative;
   top:5px;
   color:#e3e3e3;
   font-size:0.93em;
   
}

.main-heading-content {
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
}

.main-heading-title {
	font-weight: 900;
	color: #ffffff;
	text-transform: uppercase;
	font-size:3.5em;
	text-shadow: rgba(0,0,0,0.498039) 2px 2px 2px;
	letter-spacing: 0.02em;
	
}
.main-heading-title span {
	margin-left: 6px;
}
.main-heading-text {
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 20px;
}
.main-cursor {
	opacity: 1;
	-webkit-animation: blink .6s infinite;
	-moz-animation: blink .6s infinite;
	-ms-animation: blink .6s infinite;
	-o-animation: blink .6s infinite;
	animation: blink .6s infinite;
}

.themecolor
{
    color:#117d8b;/*Defines the theme color*/
}

.main-banner{
	position: relative;
}

.main-banner{
	display: table;
    width: 100%;
	text-align: center;
}

.main-banner::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 0;
    opacity: .2;
}

.heading{
	color: #fff;
	position: relative;
	z-index: 1;
}

.heading h1{
	color: #ffffff;
	font-weight: 700;
	font-size: 48px;
	text-transform: uppercase;
}


.section {
    position: relative;
    padding: 20px 0;
}


.section-title {
    display: block;
    position: relative;
    margin-bottom: 60px;
}

.section-title p {
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.section-title h3 {
    font-size: 38px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

.section.colorsection p,
.section.colorsection h3,
.section.db h3 {
    color: #ffffff;
}



.btn-hover-new{
	color: #333333;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid #333333;
	overflow: hidden;
	padding: 0px 18px;
	display: inline-block;
}


.btn-hover-new::after {
    content: attr(data-text);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translate(-30%, 0);
    transform: translate(-30%, 0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-hover-new span {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-hover-new:hover{
	color: #ffffff;
	background-color: #333333;
}
.btn-hover-new:hover > span {
    opacity: 0;
    -webkit-transform: translate(0px,40px);
    transform: translate(0px,40px);
}
.btn-hover-new:hover::after {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.gallery-single{
	margin: 20px 10px;;
}

.gallery-single {
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px rgb(214, 43, 43);
}

.gallery-list .img-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(51, 51, 51, 0.80);
    color: #35424C;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 2;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
}

.gallery-list .gallery-single:hover .img-overlay {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.gallery-list .gallery-single:hover .img-overlay .hoverbutton{
	opacity: 1;
	top: 50%;
}


.post-box .date{
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 15px;
	background: #333333;
	color: #fff;
	padding: 10px 15px;
	text-align: center;
}

.post-thumb{
	position: relative;
    box-shadow: 0 0 10px rgb(211, 214, 43);
    
}

.post-info{
	padding: 0px 15px 40px 15px;
	background: #ece5e5;
	text-align: left;
	margin-top: 40px;
}


.post-info h4{
	font-size: 20px;
	font-weight: 700;
}


.post-info p{
	font-size: 18px;
	font-weight: 300;
}

.dropdown-menu > li > a {
    color: #052683 !important;
    font-size: 15px;
    padding: 5px 10px;
}


select.bs-select-hidden,
select.selectpicker {
    display: none !important;
}

.contact_form {
    border: 1px solid #ededed;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
    background-color: #f0c17c;
    padding: 20px 10px;
}

.contact_form .form-control {
    background-color: #e9d395;
    margin-bottom: 10px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    outline: 0 none;
    height: 55px;
	border-radius: 12px;
}


#contact .section-title p{
	color: #ffffff;
}

.contact_form textarea.form-control{
	min-height: 225px;
}

.form-group{
	position: relative;
}

.help-block{
	position: absolute;
	top: 100%;
	left: 0px;
}

/*------------------------------------------------------------------
    FOOTER
-------------------------------------------------------------------*/


.copyrights {
    background-color: #0f0e0e;
    box-sizing: border-box;
    text-align: center;
    padding: 30px 90px;
    overflow: hidden;
}

.footer-distributed .footer-left {
    float: left;
}

.footer-distributed .footer-links {
    margin: 0 0 10px;
    text-transform: uppercase;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    margin: 0 10px 0 10px;
    text-decoration: none;
}

.ser-icon i{
	font-size: 80px;
	color: #000000;
}
